:root {
	--primary-color: #ffecd3;
	--secondary-color: #ffb0fe;
	--third-color: #ff6bd6;
	--fourth-color: #515b6d;
	--box-shadow: 5px 10px 30px rgba(133, 133, 255, 0.2);
}

body {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	background-color: #fff;
}

h1 {
	font-size: 50px;
}

h2 {
	margin-top: -20px;
	font-size: 25px;
}

h1,
h2 {
	text-align: center;
	color: var(--fourth-color);
}

h3 {
	font-size: 32px;
	text-align: center;
	color: var(--fourth-color);
}
a {
	text-decoration: none;
	color: var(--third-color);
}
a:visited {
	color: var(--fourth-color);
}

.greeting {
	color: var(--fourth-color);
	font-size: 18px;
	font-weight: 700;
}

.mission {
	background-color: var(--primary-color);
	box-shadow: var(--box-shadow);
	background-image: url(../images/pinkclouds.jpg);
	background-size: cover;
	padding-top: 70px;
	padding-bottom: 70px;
	border-radius: 10px;
}
.categories {
	display: flex;
	text-align: center;
	justify-content: space-evenly;
}

.category,
.email {
	border: 1px solid #e4c7a3;
	font-size: 25px;
	border-radius: 10px;
	background-color: var(--primary-color);
	padding: 25px 50px;
	box-shadow: var(--box-shadow);
}
.email {
	text-align: center;
}
.top {
	position: relative;
	text-align: center;
	top: 15px;
}
.box {
	border: 2px solid #e4c7a3;
	border-radius: 10px;
	margin: 20px;
	padding: 30px;
	background-color: #ffedd6;
}

.contact-email {
	text-align: center;
	margin-top: -20px;
	font-size: 18px;
}

.category:hover {
	background-color: var(--secondary-color);
	color: var(--primary-color);
}

.description {
	font-size: 50px;
}
.btn {
	background-color: #6610f2;
	border: none;
	color: white !important;
}

@media (max-width: 600px) {
	h1 {
		font-size: 40px;
	}
	h2 {
		font-size: 20px;
		margin-top: 5px;
	}
	.category {
		display: none;
	}
}
